# Autonomous Testing
### Red Testing 
Red Neut Three
| Stone Position  | Status | Start Voltage  | End Voltage  | Comments  |
|---|---|---|---|---|
|   |   |   |   |   |
|   |   |   |   |   |
|   |   |   |   |   |

### Blue Testing

| Stone Position  | Status | Start Voltage  | End Voltage  | Comments  |
|---|---|---|---|---|
|   |   |   |   |   |
|   |   |   |   |   |
|   |   |   |   |   |