# Autonomous Testing
### Red Testing 
Red Neut Three (Starting: 2/24/2020 11:20)
| Stone Position  | Status | Start Voltage  | End Voltage  | Comments  |
|---|---|---|---|---|
|   |   |   |   |   |
|   |   |   |   |   |
|   |   |   |   |   |

### Blue Testing

| Stone Position  | Status | Start Voltage  | End Voltage  | Comments  |
|---|---|---|---|---|
|   |   |   |   |   |
|   |   |   |   |   |
|   |   |   |   |   |