# Autonomus Testing

### Red Testing

| Stone Position  | Status | Start Voltage  | End Voltage  | Comments  |
|---|---|---|---|---|
|   |   |   |   |   |
|   |   |   |   |   |
|   |   |   |   |   |

### Blue Testing

| Stone Position  | Status | Start Voltage  | End Voltage  | Comments  |
|---|---|---|---|---|
|   |   |   |   |   |
|   |   |   |   |   |
|   |   |   |   |   |